* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji {
  margin: 50px;
  cursor: pointer;
}
.close {
  display: none;
}

.open {
  display: none;
}

.active {
  display: block;
}
